<div class="d-flex align-items-center">
  <h1>掲示板編集</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to "一覧" ,boards_path , class:"btn btn-outline-dark" %>
    <%= link_to "編集" ,edit_board_path , class:"btn btn-outline-dark" %>

  </div>
</div>

<%
=begin%>
 以下rails構文 
<%
=end%>

<%= render partial: "form", locals: {board: @board}  %>
