<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto boards__linkBox">
    <%= link_to "掲示板一覧" ,boards_path , class:"btn btn-outline-dark" %>
    <%
=begin%>
 編集対象のモデルオブジェクトを引数に渡す。　そのオブジェクトを編集するためのURLを出力してくれる。 
<%
=end%>
    <%= link_to "編集" ,edit_board_path(@board) , class:"btn btn-outline-dark" %>
  </div>
</div>

<%
=begin%>
 パーシャルを呼ぶ 
 renderするものがboardでmodel名と同じ(modelのオブジェクトと言うこと)ものは省略できる。今回は@boardだけ書き、こいつを渡す。
<%
=end%>

<%= render @board %>